{% extends "layouts/cabinet.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% if tag_id %}Редактирование тега{% else %}Новый тег{% endif %}{% endblock %}
{% block h1 %}{% if tag_id %}Редактирование тега{% else %}Новый тег{% endif %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Сайты" "cabinet_sites_index" %}
    {% breadcrumb site.title "cabinet_sites_show" site.id %}
    {% if tag_id %}
        {% breadcrumb_for "cabinet_tags_edit" tag.id %}Тег {{ tag.title }}{% endbreadcrumb_for %}
    {% else %}
        {% breadcrumb "Новый тег" "" %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit"/>
    </form>
{% endblock %}