header, header a {
    border: 1px solid #bbb;
    color: #bbb
}

#breadcrumbs {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #bbb;
}

#breadcrumbs li {
    float: left;
}

h1 {
    border-bottom: 1px solid #bbb;
}

.content table {
    border-style: solid;
    border-color: #bbb;
    border-width: 1px 0 0 1px;
    border-spacing: 0;
}

.content table td, .content table th {
    border-style: solid;
    border-color: #bbb;
    border-width: 0 1px 1px 0;
    padding: 7px;
}

#messages {
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

#messages li.success {
    background: green;
}

#messages li.warning {
    background: yellow;
}

#messages li.error {
    background: red;
}